<h1 class="title-login">
    <%= title %>
</h1>

<!-- Display Flash msg -->
<%- messages() %>

<% if (errors) { %>
    <ul>
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

<div class="acc-mgt-container">
    <% if (accountData) { %>
        <%- messages() %>

        <h2>Welcome <%= accountData.account_firstname %></h2>
    <p>
        <a href="/account/update"
            class="edit-acc-btn">Edit Account Information</a>
    </p>
    <% if (accountData.account_type==='Employee' ||  accountData.account_type==='Admin' ) { %>
        <h3>Inventory Management</h3>
        <p><a href="/inv/" class="edit-acc-btn">Access Inventory Management</a></p>
        <% } %>

            <% } else { %>
                <p>You are not logged in.</p>
                <% } %>

<!-- Admin View for All Reviews -->
<div class="review-admin">
    <% if (accountData.account_type==='Admin' ) { %>
        <%- messages() %>
        <h3>All Reviews (Admin View)</h3>
        <% if (reviews && reviews.length> 0) { %>
    <ol>
        <% reviews.forEach(review=> { %>
            <li>
                <strong>
                    <%= review.account_firstname[0] +
                        review.account_lastname %>:
                </strong>
                <%= review.review_text %> on <%= review.inv_make %>
                        <%= review.inv_model %>
                    <!-- Links for Admin -->
                    <div>
                        <a href="/account/reviews/edit/<%= review.review_id %>"
                            title="Edit this review">Edit</a> |
                        <a href="/account/reviews/delete/<%= review.review_id %>"
                            title="Delete this review">Delete</a>
                    </div>
            </li>
        <% }) %>
    </ol>
    <% } else { %>
        <p>No reviews have been written yet.</p>
        <% } %>
            <% } else { %>
</div>

<!-- User's Review -->
<div class="review-admin">
    <h3>Your Reviews</h3>
    <% if (reviews && reviews.length> 0) { %>
        <%- messages() %>
        <ol>
            <% reviews.forEach(review=> { %>
            <li>
                <strong>You:</strong>
                <%= review.review_text %> on <%=
                        review.inv_make %>
                        <%= review.inv_model %>
    
                        <!-- Edit and Delete Links for User -->
                        <div>
                            <a href="/account/reviews/edit/<%= review.review_id %>"
                                title="Edit your review">Edit</a> |
                            <a href="/account/reviews/delete/<%= review.review_id %>"
                                title="Delete your review">Delete</a>
                        </div>
            </li>
            <% }) %>
        </ol>
        <% } else { %>
            <p>You haven't written any reviews yet.</p>
            <% } %>
                <% } %>
</div>


</div>     