<h1 class="title-login">
    <%= title %>
</h1>

<!-- Display Flash msg -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
    <% } %>

<h2>Welcome <%= accountData.account_firstname %>
</h2>

<!-- All users -->
<a href="/account/update/<%= accountData.account_id %>">Update Account
    Information</a>

<!-- only admin and employee -->
<% if (accountData.account_type==='Employee' ||
    accountData.account_type==='Admin' ) { %>
    <h3>Inventory Management</h3>
    <p><a href="/inv/">Access Inventory Management</a></p>
    <% } %>
       